EMR_USERNAME=
EMR_PASSWORD=
EMR_BASE_URL=https://emrtrenggalek.my.id/daf
EMR_PUSKESMAS=PUSKESMAS BARUHARJO
BROWSER_MODE=headless
SCRAPE_TIMEOUT=60
DATABASE_URL=sqlite+aiosqlite:///./rekap_in.db
APP_HOST=127.0.0.1
APP_PORT=8000
